@model IEnumerable<ADORO_MVC.Models.Actividad>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ADORO</h1>
    
</div>

<table class="table">
    @foreach (var item in Model)
    {
        @if (item.EstadoAct == EstadoActividad.Activa)
        {
            <tr>
                <td>
                    <img src="/Images/@Html.DisplayFor(modelItem => item.Imagen)" alt="Actividad" width="200">
                </td>
                <td>
                    <h1> @Html.DisplayFor(modelItem => item.Nombre)</h1>
                    <p> @Html.DisplayFor(modelItem => item.GeneroActividad)</p>
                    <p> @Html.DisplayFor(modelItem => item.TipoActividad)</p>
                    <p> Desde: @Html.DisplayFor(modelItem => item.FechaInicio)</p>
                    <p> Hasta: @Html.DisplayFor(modelItem => item.FechaFin)</p>
                </td>
                <td>
                    <a asp-controller="Actividades" asp-action="DetailsUser" asp-route-id="@item.Id">Ver Detalles</a>
                </td>
            </tr>
        }
    }
</table>