@model ADORO_MVC.Models.Actividad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div>
        <h2>@Html.DisplayFor(model => model.Nombre)</h2>
        <div>
            <img src="@Html.DisplayFor(model => model.Imagen)">
        </div>
        <div>
            <table>
                <tr>
                    <td>@Html.DisplayFor(model => model.Descripcion)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Contador) / @ViewBag.capacidadSala</td>
                </tr>
            </table>
        </div>
        <div>
            <a asp-action="Reservar" asp-route-id="@Model.Id">Reservar</a> |
        </div>
        
    </div>
</div>
