@model ADORO_MVC.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

@using Microsoft.AspNetCore.Http;
<h1>Eliminar</h1>

@if (Context.Session.GetString("Rol") == "Admin")
{
    <h3>¿Estás seguro/a de eliminar usuario?</h3>
    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rol)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver a la lista</a>
        </form>

    </div>
}
else
{
    <a>Hay que ingresar como administrador para eliminar un usuario</a>
    <br />
    <a asp-action="Index" asp-controller="Home">Volver al inicio</a>

}
