@model ADORO_MVC.Models.Sala

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Http;
<h1>Detalles</h1>

@if (Context.Session.GetString("Rol") == "Admin")
{
    <div>
        <h4>Sala</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CapacidadMax)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CapacidadMax)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlAireLibre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlAireLibre)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Volver a la lista</a>
    </div>
}
else
{ <a>Hay que ingresar como administrador para ver detalles</a>
    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
}
