@model IEnumerable<ADORO_MVC.Models.Sala>

@{
    ViewData["Title"] = "Salas";
}

@using Microsoft.AspNetCore.Http;
<h1>Salas</h1>

@if (Context.Session.GetString("Rol") == "Admin")
{
    <p>
        <a asp-action="Create">Crear nueva sala</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CapacidadMax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlAireLibre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CapacidadMax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlAireLibre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
}
else
{
    <a>Hay que ingresar como administrador para listar las salas</a>
    <br />
    <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
}
